@font-face {
    font-family: 'mario';
    src: url('../fonts/Mario-Kart-DS.woff2') format('woff2'),
        url('../fonts/Mario-Kart-DS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

